* {
  box-sizing: border-box;
  margin: 0 auto;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

body {
  font-family: 'Galindo', serif;
}

.jukebox {
  text-align: center;
  position: relative;
  top: calc(50vh - 100px);
}

.currently-playing {
  padding: 30px;
}

.controls, .song-list {
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.btn, .songs {
  padding: 10px;
  border-radius: 8px;
}

.songs {
  background-color: #c15e27;
}
.btn {
  background-color: #09384f;
}

a.songs, a.btn {
  text-decoration: none;
  color: white;
}

a.songs:hover {
  background-color: #09384f;
}
a.btn:hover {
  background-color: #c15e27;
}
